@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-label {
      @apply mx-8 flex py-2 text-base text-slate-800 group-hover:text-cyan-500 md:text-lg;
    }
}
@keyframes gradient-animation {
  0% {
    background-image: linear-gradient(to right, #4fd1c5, #63b3ed);
  }
  50% {
    background-image: linear-gradient(to right, #805ad5, #d53f8c);
  }
  100% {
    background-image: linear-gradient(to right, #4fd1c5, #63b3ed);
  }
}
:root {
  padding: 0;
  margin: 0;
  background: linear-gradient(
                  calc(var(--angle) * 14deg),
                  var(--bg-one) calc(40 * 1%),
                  var(--bg-two) calc(40 * 1%)
  );
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  --transition: 0.2s;
  --bg-one: rgb(4, 27, 35);
  --bg-two: rgb(8 145 178);
  --stop: 40%;
  --angle: 45;
  --border-width: 5;
  --padlock-size: 300;
  --border-radius: 6;
}

body {
  overflow-x: hidden;
  margin: 0;
}
